@{
    ViewBag.Title = "Yêu cầu lấy lại mật khẩu";
}

<!-- Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-circle_info"></i>@ViewBag.Title<br><small>Kết quả @ViewBag.Message </small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Trang</li>
    <li><a href="javascript:void(0)">@ViewBag.Title</a></li>
</ul>
<div class="block">
    <p>
        Vui lòng kiễm tra mail để lấy lại mật khấu
    </p>
</div>
	
