@using SqlDataProvider.Data;
@using System.Text;
@model GM.Service.Models.TableModel

@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    TableInfo item = Model.Info;
    StringBuilder sb = new StringBuilder();
    List<TableDesignInfo> designs = Model.Designs;
    string name = item.Class.Replace("Info", "");
    int count = designs.Count;

    sb.AppendLine("  ");
    sb.AppendLine("public static XElement Create" + name + "(" + name + "Info info)");
    sb.AppendLine("{");
    sb.AppendLine("    return new XElement(\"Item\",");
    foreach (var d in designs)
    {
        string type = d.Type;
        if (type.Contains("nvarchar"))
        {
            type = "nvarchar";
        }
        string tail = ",";
        if (count == 1)
        {
            tail = ");";
        }
        switch (type)
        {
            case "datetime":
                sb.AppendLine("        new XAttribute(\"" + d.Name + "\", info." + d.Name + ".ToString(\"yyyy-MM-dd HH:mm:ss\"))" + tail);
                break;
            case "nvarchar":
                sb.AppendLine("        new XAttribute(\"" + d.Name + "\", string.IsNullOrEmpty(info." + d.Name + ") ? \"\" : info." + d.Name + ")" + tail);
                break;
            default:
                sb.AppendLine("        new XAttribute(\"" + d.Name + "\", info." + d.Name + ")" + tail);
                break;
        }
        count--;
    }
    sb.AppendLine("}");
}
<h4>@item.Name <i class="fa fa-angle-right"></i><span class="text-danger"> Flash Utils</span></h4>
<div style="overflow-y:auto; height:450px">
<pre class="line-numbers">
    <code class="language-csharp" id="highlight-code">
        @sb.ToString()
    </code>
</pre>
</div>
@section Scripts{
    <script>
        $(function () {

            navActive('FlashUtils');

            var code = $('#highlight-code')[0];
            Prism.highlightElement(code);

            ZeroCopy.init();
        });
    </script>
}