@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
}

    <!-- Danger Alert Content -->
    <div class="alert alert-success">
        @Model
    </div>
    <!-- END Danger Alert Content -->
    <div class="form-actions">
        <div class="text-right">
            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Đồng ý</button>
        </div>
    </div>
@section Scripts {
    <script></script>
}