@using Microsoft.AspNet.Identity;
@model GM.Service.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
}
@using (Ajax.BeginForm("ChangePassword", "Manage",
       null,
       new AjaxOptions
       {
          UpdateTargetId = "setting-content",
          HttpMethod = "GET",
          LoadingElementId = "loading-bgr"
        },
       new { id = "frm-setting", @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_Alerts")
    <fieldset>
        <legend>Thông tin</legend>
        <div class="form-group">
            <label class="col-md-4 control-label">Tài khoản</label>
            <div class="col-md-8">
                <p class="form-control-static">@User.Identity.GetUserName()</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="user-settings-email">Email</label>
            <div class="col-md-8">
                <input type="email" id="user-settings-email" name="Email" class="form-control" value="@User.Identity.GetUserName()" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="user-settings-notifications">Gửi thông báo qua mail</label>
            <div class="col-md-8">
                <label class="switch switch-primary">
                    <input type="checkbox" id="user-settings-notifications" name="Notifications" value="true" checked>                    
                    <span></span>
                    <input type="hidden" id="hidden-notifications" name="Notifications" value="false">
                </label>
            </div>
        </div>
    </fieldset>
                        <fieldset>
                            <legend>Đổi mật khẩu</legend>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="user-settings-password">Mật khẩu hiện tại</label>
                                <div class="col-md-8">
                                    <input type="password" id="user-settings-oldpassword" name="OldPassword" class="form-control" placeholder="Nhập mật khẩu hiện tại...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="user-settings-password">Mật khẩu mới</label>
                                <div class="col-md-8">
                                    <input type="password" id="user-settings-password" name="NewPassword" class="form-control" placeholder="Nhập mật khẩu mới...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="user-settings-repassword">Xác nhận mật khẩu mới</label>
                                <div class="col-md-8">
                                    <input type="password" id="user-settings-repassword" name="ConfirmPassword" class="form-control" placeholder="...xác nhận mật khẩu mới!">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group form-actions">
                            <div class="col-xs-12 text-right">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-sm btn-primary">Lưu thay đổi</button>
                            </div>
                        </div>
}
@section Scripts {
    <script>
        $.validator.setDefaults({
            submitHandler: function (e) {
                $('#loading-bgr').show();
                $.ajax({
                    url: e.action,
                    type: e.method,
                    data: $(e).serialize(),
                    success: function (result) {
                        $('#loading-bgr').hide();
                        $('#setting-content').html(result);
                    }
                });
                return false;
            }
        });
        /*Initialize Validation */
        $('#frm-setting').validate({
            errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
            errorElement: 'div',
            errorPlacement: function (error, e) {
                e.parents('.form-group > div').append(error);
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                $(e).closest('.help-block').remove();
            },
            success: function (e) {
                e.closest('.form-group').removeClass('has-success has-error');
                e.closest('.help-block').remove();
            },
            rules: {
                'OldPassword': {
                    required: true,
                    minlength: 5
                }
                ,
                'NewPassword': {
                    required: true,
                    minlength: 5
                }
                ,
                'ConfirmPassword': {
                    required: true,
                    equalTo: '#user-settings-password'
                }
            },
            messages: {
                'OldPassword': {
                    required: 'Vui lòng nhập mật khẩu hiện tại của bạn',
                    minlength: 'Mật khẩu ít nhất phải có 5 ký tự trở lên'
                },
                'NewPassword': {
                    required: 'Vui lòng nhập mật khẩu mới của bạn',
                    minlength: 'Mật khẩu ít nhất phải có 5 ký tự trở lên'
                },
                'ConfirmPassword': {
                    required: 'Vui lòng nhập mật khẩu của bạn',
                    minlength: 'Mật khẩu ít nhất phải có 5 ký tự trở lên',
                    equalTo: 'Mật khẩu nhập lại không trùng với mật khẩu mới'
                }
            }
        });
    </script>
}