@{
    Layout = null;
    ViewBag.Title = "ErrorLoadData";
}

    <!-- Danger Alert Content -->
    <div class="text-center">
        <div class="alert alert-danger">
            @Html.Raw(Model)
        </div>
    </div>
    <!-- END Danger Alert Content -->   
