@{
    ViewBag.Title = "Giới hạn quyền truy cập";    
}
<!-- Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-circle_info"></i>@ViewBag.Title<br><small>Phân quyên truy cập để bảo mật website. @ViewBag.Message</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Trang</li>
    <li><a href="javascript:void(0)">@ViewBag.Title</a></li>
</ul>
<!-- END Header -->

<div class="block">
    <!-- Warning Alert -->
    <div class="alert alert-warning">
        <p>Bạn không thể truy cập vào trang này do giới hạn quyền truy cập! Liên hệ Quản lý site để biết thêm chi tiêt.</p>
    </div>
    <!-- END Warning Alert -->
</div>