@{
    ViewBag.Title = "Chưa đăng nhập";    
}
<!-- Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-circle_info"></i>@ViewBag.Title<br><small>Để đảm bảo tính bảo mật, bạn cần đăng nhập. @ViewBag.Message</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Trang</li>
    <li><a href="javascript:void(0)">@ViewBag.Title</a></li>
</ul>
<!-- END Header -->

<div class="block">
    <!-- Warning Alert -->
    <div class="alert alert-warning">
        <p>Vui lòng đăng nhập để sử dụng chức năng này.</p>
    </div>
    <!-- END Warning Alert -->
</div>